<!DOCTYPE html>
<html>

<head>
    <title>範例4-3 餐點分類切換</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./page.css">
</head>

<body>
    <div id="app">
        <div class="form-item">
            餐點分類：
            <select v-model="mainID" size="5">
                <option value="">請選擇</option>
                <option v-for="item in typeList" :value="item.id">{{item.name}}</option>
            </select>
        </div>
        <div class="form-item">
            餐點：
            <select v-model="subID" size="5">
                <option value="">請選擇</option>
                <option v-for="item in currentSubList" :value="item.id">{{item.name}}</option>
            </select>
        </div>
    </div>

    <!-- Vue.js 3.x -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.33/dist/vue.global.js"></script>
    <!-- Vue.js 主程式 -->
    <script type="text/javascript" src="./app.js"></script>
</body>

</html>