#app {
    padding:3rem;
}

div {
    width: 80%;
    max-width: 400px;
}

div input {
    width: calc(100% - 90px);
    float: right;
}


.card {
    width: 18rem;
    float: left;
    margin: 1rem;
}