<!DOCTYPE html>
<html>

<head>
    <title>範例5-6 活動報名表單 - 動態元件載入</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./page.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

    <div id="app">
        <h4>活動報名表單</h4>
        <form>
            <component
                v-for="(info, index) in fields"
                :key="index"
                :is="info.component_name"
                :column-id="info.id"
                :column-name="info.column_name"
                :items="info.items"
                :placeholder="info.placeholder"
                v-model="form[info.id]"
            ></component>

            <button type="button" class="btn btn-primary" @click="send">送出</button>
        </form>

        <div class="form-info" v-if="isAlreadySend">
            送出表單資訊：
            <ul>
                <li>姓名：{{ form.fullName }}</li>
                <li>性別：{{ form.gender }}</li>
                <li>聯絡電話：{{ form.tel }}</li>
                <li>想參加的活動：{{ form.willingness.join(',') }}</li>
                <li>交通方式：{{ form.transportation }}</li>
            </ul>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.12.1/polyfill.min.js"></script>

    <!-- Vue.js 2.x -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- SFC Loader -->
    <script src="https://unpkg.com/http-vue-loader@1.4.2"></script>
    <!-- Vue.js 主程式 -->
    <script type="text/javascript" src="./app.js"></script>
</body>

</html>